[submodule "third_party/googletest/source"]
	path = third_party/googletest/source
	url = git@github.com:google/googletest.git
[submodule "third_party/boost/source"]
	path = third_party/boost/source
	url = git@github.com:zsims/boost.git
	branch = 1.60.0
[submodule "third_party/webserver/src"]
	path = third_party/webserver/src
	url = git@github.com:eidheim/Simple-Web-Server.git
[submodule "third_party/cpp-netlib-uri/source"]
	path = third_party/cpp-netlib-uri/source
	url = git@github.com:zsims/uri.git
